* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

section h2 {
    height: 35px;
    line-height: 35px;
    font-size: 33px;
    color: #292f36;
    text-transform: uppercase;
    font-weight: normal;
    border-left: 10px solid #e1e6ea;
    padding: 0 14px;
    margin-bottom: 60px;
}

/* HEADER */

header {
    background-color: #1d2126;
}

header .container {
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    font-size: 0px;
}

header ul li{
    display: inline-block;
    margin-left: 28px;
}

header ul li a {
    font-size: 14px;
    line-height: 26px;
    display: inline-block;
    color: #a4aead;
    text-transform: uppercase;
    padding: 0 10px;
    border: 2px solid transparent;
    border-radius: 2px;
    font-weight: normal;
}

header ul li:hover a {
    border-color: #5b6168;
}

header ul li a.active {
    border-color: #23b7a4;
    color: #23b7a4;
}

/* SLIDER */
section#slider {
    background: #39344f url(./pic.jpg) no-repeat left top;
}

section#slider > div {
    min-height: 660px;
    display: flex;
    align-items: center;
    position: relative;
}

section#slider > div > div{
    max-width: 654px;
}

section#slider h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;

}
section#slider p {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #ccd0d7;
    margin-top: 25px;
}

section#slider div > a {
    display: inline-block;
    line-height: 40px;
    padding: 0 20px;
    border: 2px solid transparent;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    margin-right: 11px;
    font-size: 14px;
    border-color: white;
    margin-top: 36px;
}

section#slider div > a:hover {
    border-color: #23b7a4;
    background-color: #23b7a4;
}

section#slider div > a:last-child {
    margin-right: 0;
}

section#slider ul {
    position: absolute;
    bottom: 30px;
    right: 15px;
}

section#slider ul li {
    display: inline;
}

section#slider ul li a {
    display: inline-block;
    height: 13px;
    width: 13px;
    border: 2px solid white;
    border-radius: 50%;
    text-indent: -1000000px;
}

section#slider ul li a.active {
    background-color: white;
}

section#slider ul li:hover a {
    background-color: white;
}

/* INTRODUCE */
#introduce {
    border-bottom: 1px solid #dde1e4;
    padding-top: 60px;
}

#introduce > div > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}

#introduce > div > div > div {
    max-width: 654px;
}

#introduce > div > div > div p {
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
}

#introduce > div > div > div p:nth-child(2){
    margin-top: 26px;
}

#introduce > div > div > div > ul {
    font-size: 0;
    margin-top: 45px;
}

#introduce > div > div > div > ul li{
    display: inline;
    margin-right: 1px;
}

#introduce > div > div > div > ul li a {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-indent: -1000000000px;
    background-color: #c8cdd0;
    background-repeat: no-repeat;
    background-position: center center;
}

#introduce > div > div > div > ul li:nth-child(1) a {
    background-image: url(./socials/facebook.png);
}

#introduce > div > div > div > ul li:nth-child(2) a {
    background-image: url(./socials/twitter.png);
}

#introduce > div > div > div > ul li:nth-child(3) a {
    background-image: url(./socials/g.png);
}

#introduce > div > div > div > ul li:nth-child(4) a {
    background-image: url(./socials/D.png);
}

#introduce > div > div > div > ul li:nth-child(5) a {
    background-image: url(./socials/e.png);
}

#introduce > div > div > ul {
    padding-left: 30px;
    counter-reset: list-number;
}

#introduce > div > div > ul li {
    counter-increment: list-number;
    position: relative;
}

#introduce > div > div > ul li::before {
    display: inline-block;
    content: ' ';
    width: 50px;
    height: 50px;
    font-size: 20px;
    content: counter(list-number, decimal-leading-zero);
    background-color: #23b7a4;
    line-height: 50px;
    text-align: center;
    color: white;
    position: absolute;
    left: 0px;
    top: 0;
}

#introduce > div > div > ul li h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #292f36;
    margin-left: 70px;
}

#introduce > div > div > ul li p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 17px;
    margin-bottom: 31px;
    color: #8d8f92;
    margin-left: 70px;
}

/* TEAM */
#team {
    padding-top: 60px;
}

#team > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

#team > div > div {
    width: calc((100% - 90px)/4);
    background-color: #e1e6ea;
    position: relative;
}

#team > div > div p:nth-child(2) {
    font-size: 16px;
    line-height: 16px;
    color: #292f36;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 20px;
}

#team > div > div p:nth-child(3) {
    font-size: 14px;
    line-height: 16px;
    color: #8d8f92;
    margin-top: 9px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#team .social {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.4);
}

#team .social ul li {
    display: inline;
}

#team .social ul li a {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #3a454d;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -10000000000px;
}

#team .social ul li:nth-child(1) a{
    background-image: url(./socials/twitter.png);
}

#team .social ul li:hover a{
    background-color: #4e5a62;
}

#team .social ul li:nth-child(2) a{
    background-image: url(./socials/facebook.png);
}

#team .social ul li:nth-child(3) a{
    background-image: url(./socials/in.png);
}

#team > div > div:hover .social {
    display: flex;
}

#team > div > div:hover {
    background-color: #3a454d;
}

#team > div > div:hover p {
    color: white;
}

/* LOVELY WORK */

#work {
    background-color: #3a454d;
    padding-top: 60px;
}

#work h2 {
    color: #ffff;
}

#work-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#work-list > div {
    width: calc( (100% - 60px) / 3);
    margin-bottom: 30px;
    position: relative;
}

#work-list .mask {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;   
    top: 0;
    left: 0;
    background-color: rgba(41, 47, 54, 0.5);
    transition: opacity 0.3s ease-in-out;
    overflow-y: hidden;
}

#work-list .mask p{
    background-color: #292f36;
    width: 100%;
    color: white;
    line-height: 60px;
    height: 60px;
    font-size: 18px;
    padding: 0px 20px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: bottom 0.3s ease-in-out;
}

#work-list .mask a {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 93px;
    margin: 93px auto 0px auto;
    text-align: center;
    background-image: url(./plus.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -10000000000px;
}


#work-list > div:hover .mask {
    opacity: 1;
}

#work-list > div:hover .mask p {
    bottom: 0;
}

#work > div > div {
    text-align: center;
}

#work > div > div > a {    
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 60px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

#work > div > div > a:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}

/* WHAT WE DO */
#what-we-do {
    padding-top: 80px;
    margin-bottom: 105px;
}

#what-we-do > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#what-we-do > div > div {
    width: calc((100% - 90px)/4);
    padding-top: 118px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top 35px;
    margin-bottom: 50px;
}

#what-we-do > div > div:nth-child(4n + 1) {
    background-image: url(./what-we-do/cogs.png);
}

#what-we-do > div > div:nth-child(4n + 2) {
    background-image: url(./what-we-do/pencil.png);
}

#what-we-do > div > div:nth-child(4n + 3) {
    background-image: url(./what-we-do/mobile.png);
}

#what-we-do > div > div:nth-child(4n + 4) {
    background-image: url(./what-we-do/clock.png);
}

#what-we-do > div > div h3 {
    color: #292f36;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: normal;
}

#what-we-do > div > div p {
    font-size: 16px;
    color: #8d8f92;
    line-height: 26px;
}

/* FEATURES */
#features {
    background-color: #3a454d;
    padding-top: 60px;
}

#features h2 {
    color: white;
}

#feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#feature-list > div {
    width: calc((100% - 60px)/3);
}

#feature-list h3 {
    font-weight: normal;
    font-size: 18px;
    line-height: 42px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 42px;
}

#feature-list p {
    font-size: 16px;
    line-height: 26px;
    color: #dcdfe1;
    margin-bottom: 115px;
}

/* CONTACT */
#contact {
    padding-top: 60px;
    margin-bottom: 95px;
}

#contact > div:last-child {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#contact > div:last-child > div {
    width: 555px;
}

#contact > div:last-child > div h3 {
    color: #292f36;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 10px;
    margin-top: 57px;
}

#contact > div:last-child > div p {
    color: #8d8f92;
    font-size: 16px;
    line-height: 26px;
    margin-top: 26px;
}

#contact > div:last-child > div p span {
    font-weight: bold ;
}

#contact > div:last-child form {
    width: 555px;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top: -129px;
    background-color: #ffffff;
}

#contact form > div {
    display: flex;
    justify-content: space-between;
}

#contact form > div > div {
    width: 240px;
}

#contact form label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #8d8f92;
    margin-top: 30px;
    margin-bottom: 4px;
}

#contact form input{
    width: 100%;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #eaeef1;
}

#contact form textarea {
    width: 100%;
    resize: none;
    border: none;
    background-color: #eaeef1;
    border-radius: 5px;
}

#contact form button {
    padding: 0 26px;
    line-height: 44px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    background-color: #23b7a4;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    transition: background-color 0.4s ease-in-out;
}

#contact form button:hover {
    background-color: #156b60;
}

footer {
    background-color: #3a454d;
}

footer > div {
    height: 95px;
    display: flex;
    justify-content: space-between;
}

footer > div p {
    color: white;
    font-size: 14px;
    line-height: 95px;
}

footer ul {
    height: 100%;
    display: flex;
    align-items: center;
}

footer ul li {
    display: inline-block;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-position: center center;
}

footer ul li:nth-child(1) {
    background-image: url(./socials/twitter.png);
}

footer ul li:nth-child(2) {
    background-image: url(./socials/facebook.png);
}

footer ul li:nth-child(3) {
    background-image: url(./socials/D.png);
}

footer ul li:nth-child(4) {
    background-image: url(./socials/e.png);
}

footer ul li:nth-child(5) {
    background-image: url(./socials/in.png);
}

footer ul li a {
    display: block;
    text-indent: -100000px;
}

